<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="helloBean" class="com.mkyong.common.HelloWorld">
		<property name="name" value="circle test" />
	</bean>

	<bean id="helloBean1" class="com.mkyong.common.HelloWorld1">
		<property name="name" value="circle test" />
	</bean>

	<bean id="helloBean2" class="com.mkyong.common.HelloWorld2">
		<property name="name" value="circle test" />
	</bean>

	<bean id="helloBean3" class="com.mkyong.common.HelloWorld3">
		<property name="name" value="circle test" />
	</bean>

	<bean id="helloBean4" class="com.mkyong.common.HelloWorld4">
		<property name="name" value="circle test" />
	</bean>

	<bean id="helloBean5" class="com.mkyong.common.HelloWorld5">
		<property name="name" value="circle test" />
	</bean>

</beans>